<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="test/autoload.php"
    colors="true"
    cacheResult="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="PHP-MARCspec Test Suite">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>